<div class="grid">
	<div class="col-12 md:col-12">

		<div class="card">
      <form [formGroup]="addLeagueForm" (ngSubmit)="onSubmitAddNewLeague()" novalidate>
          <h5>Nueva Liga</h5>
          <div class="formgroup-inline">
            <div class="col-12">
              <input pInputText formControlName="name" type="text" placeholder="Nombre de la Liga"/>
              <small class="p-error block" *ngIf="addLeagueForm.get('name')?.invalid && addLeagueForm.get('name')?.dirty">
                Por favor rellene el campo con un valor valido
              </small>
            </div>
            <div class="col-12">
              <button pButton pRipple icon="pi pi-check" label="Añadir" severity="success" [disabled]="addLeagueForm.invalid"></button>
            </div>
          </div>
      </form>
    </div>

    <div class="card">
      <div class="col-12">
        <div>
          <app-ng-table
            [dataSource]="allLeagues"
            [columns]="getLeagueColumnDefinition()"
            [configuration]="getLeagueTableConfiguration()"/>
            <div class="field col-12">
              <button pButton pRipple icon="pi pi-check" label="Guardar" severity="success" (click)="onSaveAllLeagues()"></button>
            </div>
        </div>
      </div>
    </div>


    <div class="card">
      <h5>Editar Liga</h5>

      <div class="col-12">
        <p-dropdown
          [options]="allLeagues"
          [(ngModel)]="leagueSelected"
          optionLabel="name"
          placeholder="Selecciona una Liga"
          (onChange)="onChangeSelectedLeague($event)"/>
      </div>

      <div class="card" *ngIf="leagueSelected">
        <div class="col-12">
          <div class="mb-5">
            <form [formGroup]="personsFormGroup">
              <p-multiSelect
                formControlName="persons"
                [options]="allPersons"
                optionLabel="full_name"
                placeholder="Selecciona nuevos participantes"
                (onChange)="onChangeSelectedPersons($event)"/>
            </form>

          </div>

          <div>
            <app-ng-table
              [dataSource]="runnerParticipantsSelected"
              [columns]="getRunnerParticipantsColumns()"
              [configuration]="getRunnerParticipantsConfiguration()"/>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-5">
            <form [formGroup]="raceFormGroup">
              <p-multiSelect
                formControlName="races"
                [options]="allRaces"
                optionLabel="name"
                placeholder="Selecciona nuevas Carreras"
                (onChange)="onChangeRaceSelected($event)"/>
            </form>
          </div>

          <div>
            <app-ng-table
              [dataSource]="raceLeagueSelected"
              [columns]="getRaceLeagueColumns()"
              [configuration]="getRaceLeagueTableConfiguration()"/>
          </div>
        </div>
        <div class="col-12">
          <button pButton pRipple icon="pi pi-check" label="Guardar" severity="success"(click)="saveLeague($event)"></button>
        </div>
      </div>

    </div>
  </div>
</div>

<p-toast />