<div class="grid">
	<div class="col-12 md:col-12">

		<div class="card">
      <form [formGroup]="addLeagueForm" (ngSubmit)="onSubmitAddNewLeague()" novalidate>
          <h5>Añadir nueva Liga</h5>
          <div class="formgroup-inline">
            <div class="field">
              <input pInputText formControlName="name" type="text" placeholder="Nombre de la Liga"/>
            </div>

            <button pButton pRipple icon="pi pi-check" label="Añadir" severity="success" class="col-6" [disabled]="addLeagueForm.invalid"></button>
            <small class="p-error block" *ngIf="addLeagueForm.get('name')?.invalid && addLeagueForm.get('name')?.dirty">
              Por favor rellene el campo con un valor valido
            </small>
          </div>
      </form>
    </div>

    <div class="card">
      <h5>Editar Liga</h5>

      <div class="field col-12 md:col-12">
        <p-dropdown
          [options]="allLeagues"
          [(ngModel)]="leagueSelected"
          optionLabel="name"
          placeholder="Selecciona una Liga"/>
      </div>

      <div class="card" *ngIf="leagueSelected">
        <div class="field col-12 md:col-12">
          <div class="mb-5">
            <form [formGroup]="formGroupPersons">
              <p-multiSelect
                formControlName="participantsSelectedControl"
                [options]="getRunnerParticipants()"
                optionLabel="first_name"
                placeholder="Selecciona nuevos participantes"/>
            </form>
          </div>

          <div>
            <app-ng-table
            [dataSource]="getRunnerParticipantsSelected()"
            [columns]="getRunnerParticipantsColumns()"
            [configuration]="getRunnerParticipantsConfiguration()"
            (clickRowEvent)="onClickRunnerParticipant($event)"/>
          </div>
        </div>

        <div class="field col-12 md:col-12">
          <p-multiSelect
            [options]="allRaces"
            [(ngModel)]="racesSelected"
            optionLabel="name"
            placeholder="Selecciona nuevas Carreras" />
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #productRowTemplate let-product>
  <tr>
    <td [pEditableColumn]="product.first_name" pEditableColumnField="first_name">
      <p-cellEditor>
        <ng-template pTemplate="input">
          <input pInputText type="text" [(ngModel)]="product.first_name" />
        </ng-template>
        <ng-template pTemplate="output">
          {{ product.first_name }}
        </ng-template>
      </p-cellEditor>
    </td>
  </tr>
</ng-template>
