<p-table
#dt
[value]="dataSource"
[columns]="enabledColumns"
[dataKey]="dataKey"
responsiveLayout="scroll"
[rows]="configuration.rows"
[globalFilterFields]="filterFieldSupport"
[paginator]="configuration.paginator"
[rowsPerPageOptions]="configuration.rowsPerPageOptions"
[showCurrentPageReport]="configuration.showCurrentPageReport"
[selectionMode]="configuration.selectionMode"
[rowHover]="configuration.rowHover"
[sortField]="sortFieldSelected"
[sortOrder]="sortOrderSelected"

[(selection)]="selectedRow"
styleClass="p-datatable-striped"
>
  <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
          <h5 class="m-0"> {{ configuration.title }}</h5>
          <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
          </span>
      </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of enabledColumns" pSortableColumn="{{col.key}}" pSortableColumnDisabled="{{!col.sortable}}">
            {{col.value}}
            @if (col.sortable == true) {
              <p-sortIcon field="{{col.key}}"></p-sortIcon>
            }
          </th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        @for (col of enabledColumns; track $index) {
          @if (col.key == 'photo_url' ) {
            <td>
              <img src="{{rowData['photo_url']}}" alt="{{ rowData[col.key] }}" width="40" height="40" class="shadow-4" />
            </td>
          }
          @else {
            <td>
              {{ rowData[col.key] }}
            </td>
          }
        }
        <td>
          <div class="flex">
              @for (action of configuration.buttonActions; track $index) {
                <button pButton pRipple icon="pi {{action.icon}}" class="p-button-rounded p-button-success mr-2" (click)="onRowClick(rowData)"></button>
              }
          </div>
        </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" style="text-align: center;">
        {{getMessage()}}
      </td>
    </tr>
</ng-template>
</p-table>
