<ul class="layout-menu">
    <div *ngFor="let item of model">
        <!-- <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li> -->
        @if (!item.separator) {
          <li>
            <a [routerLink]="item.routerLink" routerLinkActive="active-route">
              <button>
                {{ item.label}}
              </button>
              </a>
          </li>
        }
        @else {
          <li class="menu-separator"></li>
        }
    </div>
</ul>
