<div class="grid">
	<div class="col-12 md:col-12">

    <div class="card">
      <form [formGroup]="seassonForm" (ngSubmit)="onSeasonFormSubmit()" novalidate>
          <h5>Añadir nueva temporada</h5>
          <div class="formgroup-inline">
            <div class="field col-3">
              <input pInputText formControlName="name" type="text" placeholder="Nombre de la temporada" class="col-12"/>
              <small class="p-error block" *ngIf="seassonForm.get('name')?.invalid && seassonForm.get('name')?.dirty">
                Por favor rellene el campo con un valor valido
              </small>
            </div>
            <div class="field col-3">
              <button pButton pRipple icon="pi pi-check" label="Añadir" severity="success" class="col-3" [disabled]="seassonForm.invalid"></button>
            </div>
          </div>
      </form>
    </div>

    <div class="card">
      <h5>Editar Seasson</h5>

      <div class="field col-12 md:col-12">
        <p-dropdown
          [options]="allSeassons"
          optionLabel="name"
          placeholder="Selecciona una temporada"
          (onChange)="onSelectSeason($event)"/>
      </div>

      <div class="card" *ngIf="seassonService.seassonSelected$ | async as seasonSelected">

        <div class="field col-12 md:col-12">

          <div class="mb-5">
              <p-multiSelect
                [(ngModel)]="leaguesSelected"
                [options]="allLeagues"
                optionLabel="name"
                placeholder="Selecciona nuevas temporadas"
                (onChange)="onSelectedLeagueChange($event)"/>
          </div>

          <div>
            <app-ng-table
              [dataSource]="leaguesSelected"
              (onChange)="onLeagueTableChanged($event)"/>
          </div>

        </div>

      </div>

      <div class="field col-3">
        <button pButton pRipple icon="pi pi-check" label="Guardar" severity="success" class="col-6" (click)="onSaveSeason($event)"></button>
      </div>

    </div>
  </div>
</div>
