    <form [formGroup]="customForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="card p-fluid">
        <h5>{{title_form}}</h5>

        @for (form_conf of form_configuration; track form_conf) {
          @if (form_conf.control_type == "text") {
            <div class="field">
              <label htmlFor="{{form_conf['control_name']}}">{{form_conf['label']}}</label>
              <input pInputText id="{{form_conf['control_name']}}" formControlName="{{form_conf['control_name']}}" type="{{form_conf['control_type']}}" placeholder="{{form_conf['placeholder']}}"/>
              <small class="p-error block" *ngIf="customForm.get(form_conf['control_name'])?.invalid && customForm.get(form_conf['control_name'])?.dirty">
              Por favor rellene el campo con un valor valido
              </small>
            </div>
          }
          @else if (form_conf.control_type == "password") {
            <div class="field">
              <label htmlFor="{{form_conf['control_name']}}">{{form_conf['label']}}</label>
              <input pInputText id="{{form_conf['control_name']}}" formControlName="{{form_conf['control_name']}}" type="password" placeholder="{{form_conf['placeholder']}}"/>
              <small class="p-error block" *ngIf="customForm.get(form_conf['control_name'])?.invalid && customForm.get(form_conf['control_name'])?.dirty">
              Por favor rellene el campo con un valor valido
              </small>
            </div>
          }
          @else if (form_conf.control_type == "dropdown") {
            <p-dropdown
            formControlName="{{form_conf['control_name']}}"
            [options]="form_conf['dropdown_options']"
            placeholder="{{form_conf['label']}}"/>
          }
          @else if (form_conf.control_type == "checkbox") {
            <div class="field-radiobutton mt-5 mb-5">
              <label for="{{form_conf['control_name']}}">{{form_conf['label']}}</label>
              <p-checkbox inputId="{{form_conf['control_name']}}" formControlName="{{form_conf['control_name']}}"  [binary]="true" ></p-checkbox>
            </div>
          }
          @else if (form_conf.control_type == "image") {
            <div class="flex justify-content-center" *ngIf="getImageUrl(form_conf['control_name']) != ''">
              <p-image
                  [src]="this.customForm.get(form_conf['control_name'])?.value"
                  alt="Image"
                  width="50"/>
            </div>

            <div class="field">
              <p-fileUpload
              mode="basic"
              chooseIcon="pi pi-upload"
              name="{{form_conf.input_image_options?.field_parameter}}"
              (onUpload)="onUploadImage($event, form_conf.control_name)"
              [multiple]="false"
              accept="image/*"
              [maxFileSize]="1000000"
              url="{{form_conf.input_image_options?.url(uniqueId)}}"
              method="post"
              label="Import"
              chooseLabel="Subir Imagen"
              class="mr-2 inline-block">
          </p-fileUpload>
            </div>
          }
        }
          <div p-buttonGroup class="flex gap-2 justify-content-center mt-5">
            <button pButton pRipple icon="pi pi-times" label="cancelar" severity="danger" class="col-6" type="button" (click)="cancelButton()"></button>
            <button pButton pRipple icon="pi pi-check" label="enviar" severity="success" class="col-6" [disabled]="customForm.invalid"></button>
          </div>
      </div>
    </form>
