
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  @for (season of seasons; track season.id) {
    <div class="card">
      <h5> {{season.name}}</h5>
      <div class="grid">
        @for (league_id of season.league_ids; track league_id) {
          <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-card p-4 shadow-2 border-round custom-card" (click)="goToRanking(league_id)">
              <div class="text-xl font-medium text-900 mb-3">{{ league_id }} </div>
              <div style="height: 50px" class="border-2 border-dashed surface-border"></div>
            </div>
          </div>
        }
      </div>
    </div>
  }

</div>
